# download this file, and run the below command targetting the downloaded file
# pip install -r requirements.txt
# this ensures all libraries are downloaded for the finanancial analysis scripts

matplotlib
seaborn
plotly
pandas
numpy
statsmodels
